/***************************
****************************
Theme Styles 
****************************
***************************/
.background-primary { background: #f7941e; /*Orange*/ }
.background-secundary { background: #00aeef; /*Blue*/ }
.background-tertiary { background: #8dc63f; /*Green*/ }
.background-quaternary { background: #796053; /*brown*/ }
.background-quinary { background: #e7e1d7; /*Creme*/ }

/*
Color List:
- light blue = 00AEEF;
- dark blue = 1C75BC
- green = 8DC63F
- dark green = 009444
- orange = F7941E
- dark orange = F15A29
- brown = 594a42;
*/