/***************************
****************************
Theme Styles
****************************
***************************/
/* Erudita Brasil */
.background-primary-brasil {
	background-color: #66c7ea; /*azul-médio-light*/
}
.color-primary-brasil {
	color: #516b51; /*verde-insaturado-dark*/
}
.background-secondary-brasil {
	background-color: #0b3544; /*azul-saturado-dark*/
}
.color-secondary-brasil {
	color: #1b231b; /*verde-insaturado-darkPlus*/
}
.background-tertiary-brasil {
	background-color: #87a9b5; /*azul-insaturado-light*/
}
.color-tertiary-brasil {
	color: aliceBlue; text-shadow: 0.2px 0.2px #4848f9; /*azul-púrpura-saturado-light */
}
.background-quaternary-brasil {
	background-color: #e3e9ec; /*azul-muitoInsaturado-lightPlus*/
}
.color-quaternary-brasil {
	color: #516b51; /*verde-insaturado-dark*/
	text-shadow: 0.5px 0.5px burlywood;
}
.background-quinary-brasil {
	background-color: #146f90; /*azul-saturadoPlus-médio*/
}
.background-senary-brasil {
	background-color: mintCream;
}
.background-header-brasil {
	/*Header*/
	background: linear-gradient(paleGoldenRod, aliceblue, paleGoldenRod);
}
.color-header-brasil {
	/*Header*/
	color: #516b51; /*verde-insaturado-dark*/
}


