/*Social Modules*/
.social { 
	ul { list-style: none; padding: 0px; margin: 0px 25px; 
		li { display: inline; 
			a { color: #334a5f; text-shadow: 1px 1px #eae7ca; text-decoration: none; }
		}
	}
}
 
